 .scroll-bar {
    scrollbar-width: none;
 }
 /* Add this CSS to your styles */
.sticky {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 50; /* Ensure it stays above other elements */
   background-color: #F8F8F8; /* Optional: Match your navbar background */
   transition: box-shadow 0.3s ease; /* Optional: Add shadow for visual effect */
 }
 
 .sticky + .content {
   padding-top: 60px; /* Adjust based on navbar height */
 }
 